{% extends "layout.html" %}

{% block content %}
<h2>Create Speech</h2>

{% if success %}
<p> <b> You asked me:  </b>"{{create_speech_prompt}}"  </p>
<p> <b> How does this look?:  </b> </p>
    <source src="{{ create_speech_response }}"  
{% else %}  
{% for prompt in form.prompt.errors %}
<div class="flash">{{ prompt }}</div>
{% endfor %}

<form action="{{ url_for('create_speech') }}" method=post>
<!-- 
This form has no CSRF protection.  To add, see:
https://flask-wtf.readthedocs.io/en/0.15.x/csrf/
--> 

{{ form.prompt.label }}
{{ form.prompt }}

{{ form.submit }}
</form>
{% endif %}

{% endblock %}